{% extends 'page-base.html' %}

{% block hero %}
    <h1 class="title">About ZAP Blogging Framework</h1>
{% endblock %}

{% block content %}
    <div class="columns">
        <div class="column">
            <div class="content">
                <h1 class="title">
                    This is a test page for the about page.
                </h1>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis blandit gravida maximus. Cras posuere risus et erat maximus, sed tincidunt leo luctus. Fusce tristique at lorem in hendrerit. Integer vestibulum quis odio ac suscipit. Duis tincidunt tortor eget dolor efficitur auctor. Pellentesque in varius diam. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam aliquet interdum erat. Etiam aliquam purus odio, ac ultricies felis porttitor vitae. Quisque pharetra semper ipsum eu lacinia. Aliquam non augue sed metus dignissim commodo at eget arcu. Phasellus congue arcu eget pharetra semper. Fusce ut volutpat ante, vel sagittis augue. Donec a nulla scelerisque, dignissim purus non, pretium ligula. Sed enim augue, interdum nec augue vel, tincidunt faucibus libero. Maecenas eleifend euismod magna a sodales. 
                </p>
                <p>
                    Mauris a metus vitae leo mollis malesuada. Mauris ullamcorper lorem tempus justo commodo, ac iaculis sem efficitur. Nunc rhoncus, sem non mollis eleifend, tortor risus semper neque, molestie interdum ligula odio nec odio. Vestibulum euismod a lacus ac maximus. Cras sed efficitur libero. Donec nisl ante, maximus nec nulla sed, cursus interdum lacus. Sed eu eros sit amet nisl hendrerit consequat. Donec dapibus fringilla fringilla. Nulla nisl arcu, consequat sit amet dapibus sed, porta ut tellus. 
                </p>
                <p>
                    Sed at velit purus. Proin blandit leo hendrerit ex rhoncus, quis rutrum magna facilisis. Fusce iaculis eu lectus at gravida. Vivamus auctor consequat velit vestibulum facilisis. Quisque rutrum vestibulum sapien, ac gravida tellus malesuada sit amet. Duis maximus metus gravida est sollicitudin vehicula. Vestibulum non eleifend velit, quis iaculis justo. 
                </p>
                <p>
                    Mauris et efficitur diam, in finibus massa. Donec vulputate lorem eu magna vestibulum, ut rhoncus turpis interdum. Curabitur vitae imperdiet tellus. Suspendisse feugiat rhoncus orci, id iaculis tortor pretium in. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Phasellus pellentesque metus eu mi egestas, vitae feugiat ante tincidunt. Duis non ipsum nisi. Praesent eu tincidunt ligula. Quisque ut accumsan nisl. 
                </p>
                <p>
                    Pellentesque imperdiet posuere iaculis. Donec laoreet at ex sit amet sodales. Maecenas ullamcorper condimentum ipsum. Fusce blandit dolor a lectus varius condimentum. Nullam tempus et felis ac eleifend. Aliquam nibh sapien, luctus quis placerat vitae, gravida sit amet erat. Proin ornare lorem eu tincidunt tempor. Nam a imperdiet ipsum, sit amet fermentum ligula. In id orci sit amet ante bibendum tristique nec vitae massa. Phasellus ultricies sagittis mollis. 
                </p>
            </div>
        </div>
    </div>
{% endblock %}